.nav-link {
  box-sizing: border-box;
  border-style: solid;
  border-color: rgb(72, 75, 75);
  border-radius: 10px;
  border-width: 2px;
  margin-right: 20px;
  box-shadow: 0 0 100px rgba(236, 236, 236, 0.1);
}
.nav-link:hover {
  color: rgb(245, 245, 245) !important;
  text-decoration: none;
}
