/lambda/voting/cache
/lambda/voting/node_modules
/lambda/voting/artifacts
/nfts/node_modules
/solana/scripts/node_modules
/solana/frontend/node_modules

.DS_Store
**/.DS_Store

eos/fio/lib/node_modules
eos/fio/lib/dist
eos/fio/frontend/node_modules
eos/fio/frontend/.yalc
admin-apis/node_modules