**/*.sol
nfts/mobile/ios/NftDemo/Assets.xcassets/**/*
nfts/mobile/ios/NftDemo/Preview Content/**/*
.vscode/**/*
other-platforms/react-native/DemoApp/ios/DemoApp/Images.xcassets/**/*
other-platforms/flutter/demo_app/ios/Runner/Assets.xcassets/**/*
polygon-id/wallet/web/public/circuits/**/*
polygon-id/wallet/web/tsconfig.json
other-platforms/unity/DemoApp/.vscode/**/*
other-platforms/unity/DemoApp/Assets/VegetationSpawner/CHANGELOG.md
other-platforms/unity/DemoApp/Assets/VegetationSpawner/package.json
other-platforms/unity/DemoApp/ProjectSettings/SceneTemplateSettings.json
polygon-id/wallet/flutter/ios/Runner/Assets.xcassets/**/*
polygon-id/wallet/flutter/analysis_options.yaml
polygon-id/wallet/flutter/build.yaml
polygon-id/wallet/flutter/env.json
**/package.json
eos/fio/lib/dist/**/*
polygon-id/issuer/.github/**/*
polygon-id/issuer/**/*.json
polygon-id/issuer/**/*.yml
polygon-id/issuer/**/*.yaml
polygon-id/issuer/**/*.html
polygon-id/issuer/README.polygonid.md
polygon-id/issuer/tools/**/*
polygon-id/issuer/ui/**/*