.registerCandidate {
  margin: 1em;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.registerCandidate h1 {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 1.5em;
}

.registerCandidate input {
  margin: 0.75em;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 1em;
  font-weight: 400;
  width: 100%;
  max-width: 300px;
}

.container {
  margin-left: 500px;
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}

#loader {
  border: 16px solid #ffffff;
  border-radius: 50%;
  border-top: 16px solid #000000;
}

#voteButton {
    margin: 0.75em;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: rgb(0, 0, 0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 1em;
    font-weight: 400;
    width: 100%;
    max-width: 300px;
}
